<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="log" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="caldecott.log" />
        <param name="MaxFileSize" value="100KB"/>
        <param name="MaxBackupIndex" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %C{1} [%t] - %m%n" />
		</layout>
	</appender>

	<logger name="org.cloudfoundry.caldecott">
		<level value="info" />
	</logger>
	<logger name="org.cloudfoundry.caldecott.client">
		<level value="debug" />
	</logger>
	<logger name="org.cloudfoundry.caldecott.client.TunnelHandler">
		<level value="trace" />
	</logger>
	<logger name="org.cloudfoundry.caldecott.client.HttpTunnel">
		<level value="trace" />
	</logger>
	<logger name="org.springframework.web.client.RestTemplate">
		<level value="error" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="log" />
	</root>

</log4j:configuration>